In [1]:
import pandas as pd

In [10]:
data = pd.read_csv("Crown-Contacts.csv",index_col=0)
data.head()

,First Name,Middle Name,Last Name,Suffix,Company,Department,Job Title,Business Street,Business Street 2,Business Street 3,...,Private,Profession,Referred By,Sensitivity,Spouse,User 1,User 2,User 3,User 4,Web Page
Title,,,,,,,,,,,,,,,,,,,,,
NaN,Amir Abdul Aziz,NaN,NaN,NaN,NaN,Finance,Assistant Manager,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Abdul Mannan,NaN,NaN,NaN,NaN,Claim,Asst Claim Supervisor,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Abdul Rehman,NaN,NaN,NaN,NaN,Brand,Executive Video Editor,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Adnan Suleman,NaN,NaN,NaN,NaN,NaN,Data Entry Officer,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Ahsan Ejaz,NaN,NaN,NaN,NaN,R & D,Associate Manager,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
data.tile()

AttributeError: 'DataFrame' object has no attribute 'tile'

In [7]:
data.shape

(159, 92)

In [2]:
data.info()

NameError: name 'data' is not defined